---
title: "Welcome to Susan Cortesi's Gallery!"
layout: default
---
{% for page in site.pages %}
    {% if page.title == 'Quilts' %}
        {% assign quilt_img = page.images[0] %}
    {% elsif page.title == 'Paintings' %}
        {% assign painting_img = page.images[0] %}
    {% elsif page.title == 'Photos' %}
        {% assign photo_img = page.images[0] %}
    {% endif %}
{% endfor %}

<!-- <form class="form-group">
    <input class="form-control mr-sm-2 image_search" type="search" placeholder="Search Images" aria-label="Search Images">
</form> -->
<div class="row">
    <div class="col-lg-4 col-sm-6">
        <a class="card" href="{{ site.url }}/quilts.html" style="margin-bottom:20px;">
            <img class="card-img-top" src="https://awvdvowren.cloudimg.io/crop/300x300/x/{{ site.url }}/images/quilts/{{ quilt_img.files[0] }}">
            <div class="card-body">
                <h5 class="card-title">Quilts</h5>
                <p class="card-text"></p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a class="card" href="{{ site.url }}/photos.html" style="margin-bottom:20px;">
            <img class="card-img-top" src="https://awvdvowren.cloudimg.io/crop/300x300/x/{{ site.url }}/images/photos/{{ photo_img.files[0] }}">
            <div class="card-body">
                <h5 class="card-title">Photos</h5>
                <p class="card-text"></p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a class="card" href="{{ site.url }}/paintings.html" style="margin-bottom:20px;">
            <img class="card-img-top" src="https://awvdvowren.cloudimg.io/crop/300x300/x/{{ site.url }}/images/paintings/{{ painting_img.files[0] }}">
            <div class="card-body">
                <h5 class="card-title">Paintings</h5>
                <p class="card-text"></p>
            </div>
        </a>
    </div>     
</div>